<nav class="navbar">
  <div class="logo">
    <span style="color: fuchsia;">Arte</span><strong>mania</strong>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="activo">Inicio</a></li>
    <li><a routerLink="/catalogo" routerLinkActive="activo">Catálogo</a></li>
    <li><a routerLink="/contacto" routerLinkActive="activo">Contáctanos</a></li>
    <li><a routerLink="/nosotros" routerLinkActive="activo">Sobre Nosotros</a></li>
  </ul>

  <div class="nav-actions">
    <button class="btn-icon" routerLink="/carrito">
      <i class="pi pi-shopping-cart"></i>
      <span *ngIf="totalCarrito > 0" class="carrito-contador">{{ totalCarrito }}</span>
    </button>

    <button class="btn-primary" routerLink="/login" *ngIf="!auth.isAuthenticated()">Administrador</button>
    <button *ngIf="auth.isAuthenticated()" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>
